django
django-cors-headers
whitenoise
dj-database-url
gunicorn
# New Dependencies for Auth & DB
djangorestframework
PyJWT
psycopg2-binary
pillow
# CD Metadata
musicbrainzngs
# Bridge
pymongo
dnspython
python-dotenv
boto3
bcrypt
# Payments
stripe
# Build & Serve
pyinstaller
waitress
